@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#app {
  margin: 0;
  height: 100%;
}

div#app {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
